.tblspc {
	font-family: verdana, arial;
	font-size: 10px;
	color: #252525;
	font-weight: normal;
	text-align: center;
	padding: 0px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #FFFFFF;
}

.tblspc2 {
	font-family: verdana;
	font-size: 10px;
	color: #252525;
	font-weight: normal;
	text-align: left;
	padding: 2px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #C9EAFF;
}

.tblspc3 {
	font-family: verdana, arial;
	font-size: 10px;
	color: #252525;
	font-weight: normal;
	text-align: left;
	padding: 0px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #E1E1E1;
}

.tblhd {
	font-family: tahoma, verdana, arial;
	font-size: 10px;
	color: #000000;
	font-weight: bold;
	text-align: center;
}

.tblhd2 {
	font-family: tahoma, verdana, arial;
	font-size: 10px;
	color: #000000;
	font-weight: bold;
	text-align: center;
}

a.tblhd2 {
	font-family: tahoma, verdana, arial;
	font-size: 10px;
	color: #000000;
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
}

a.tblhd2:hover {
	font-family: tahoma, verdana, arial;
	font-size: 10px;
	color: #F26521;
	font-weight: bold;
	text-align: center;
}

a.ecom {
	color: red;
	text-decoration: underline;
}

a.ecom:hover {
	color: #000000;
	text-decoration: none;
}

.tblhd3 {
	font-family: tahoma, verdana, arial;
	font-size: 10px;
	color: #000000;
	font-weight: bold;
	text-align: left;
}

.no {
	padding: 0px;
}

.solidborderrl {
	border-right: solid;
	border-right-width:1px;
	border-left: solid;
	border-left-width:1px;
}
.dottedborderrl {
	border-right: dotted;
	border-right-width:1px;
	border-left: dotted;
	border-left-width:1px;
}
.altrowbgcolor{
    background-color: #EEF9FD;
}

